@import url('https://fonts.googleapis.com/css2?family=Rubik+Glitch&display=swap');
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700&display=swap");
 
body {
  margin: 0;
  font-family: 'Montserrat';
  background-color: #201b2c;
}

body * {
  box-sizing: border-box;
}

.collapsible {
    background-color: #2d263e;
    cursor: pointer;
    padding: 6px;
    width: 100%;
    border: none;
    border-radius: 15px;
    text-align: center;  
    font-size: 23px;
    margin-top: 10px ;    
  }

.collapsible:after {
    content: '\002B';
    color:#00ff88;
    font-weight: bold;
    float: right;
    margin-right: 10px;
  }
  
  .active:after {
    content: "\2212";
  }

  .content {
    padding: 0px 18px;
    width: 100%;    
    overflow: hidden;
    transition: max-height 0.3s ease-out;
    background-color: #272135;
    text-align: left;
    display: none;
    border-radius: 15px;
  }
  
  .content > h4{
    color: #fcfcfc;
    font-size: 20px;
    margin:0 auto;
    margin-bottom: 0px;
    margin-top: 10px;


}
.content > p{
  color: #00ff88;
  font-size: 15px;
  margin:0 auto;
  margin-bottom: 0px;
  margin-top: 10px;
  
}

.content > a:link { 
  text-decoration: none;
  padding: 10px 0px; 
}


.btn-send{
  padding: 9px;
  border: none;
  border-radius: 8px;
  margin-left: 10px;
  text-transform: uppercase;
  font-weight: 800;
  letter-spacing: 3px;
  color: #2b134b;
  background: #00ff88;
  cursor: pointer;
  box-shadow: 0px 10px 40px -12px #00ff8052;

}

.btn-Download{
  padding: 5px;
  border: none;
  border-radius: 8px;
  text-transform: uppercase;
  font-weight: 800;
  letter-spacing: 3px;
  color: #2b134b;
  background: #00ff88;
  cursor: pointer;
  box-shadow: 0px 10px 40px -12px #00ff8052;
 

}

.btn-registration{
  padding: 10px;
  border: none;
  border-radius: 8px;
  text-transform: uppercase;
  font-weight: 800;
  letter-spacing: 3px;
  color: #2b134b;
  background: #00ff88;
  cursor: pointer;
  box-shadow: 0px 10px 40px -12px #00ff8052;  
  margin: 10px auto;
  display: block;
   
}

.btn-menu{
  padding: 9px;
  border: none;
  border-radius: 8px; 
  text-transform: uppercase;
  font-weight: 800;
  letter-spacing: 3px;
  color: #fdfdfd;
  background: #2d263e;
  cursor: pointer;
  
}


a:link { 
    text-decoration: none;
    padding: 10px 0px; 
}

.main{
    width: 100vw;
    height: 100vh;
    background: #201b2c;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.container{
    width: 50vw;
    height: 50vh;
    display: inline-block;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-left: 20px;
    margin-right: 20px;
}

.main > h1{
    color: #00ff88;
    font-size: 60px;
    margin:0 auto;
    margin-bottom: 20px;
    margin-top: 50px;
    display: flex;
    flex-direction: column;
    font-family: 'Rubik Glitch';

}

.main-image{  
  margin-top: 120px;
  margin-bottom: 30px;
  width: 25vw;
    }


.textfield{
    width: 100%;
    display: flex;
    align-items: flex-start;
    justify-content: center;
    margin: 10px 0px;
}

.textfield > input{
    width: 100%;
    border: none;
    border-radius: 10px;
    padding: 9px;
    background: #514869;
    color: #f0ffffde;
    font-size: 12pt;
    box-shadow: 0px 10px 40px #00000056;
    outline: none;
    box-sizing: border-box;
}

.textfield > label{
    color: #f0ffffde;
    margin-bottom: 10px;
}

.textfield > input::placeholder{
    color: #f0ffff94;
}


@media only screen and (max-width: 950px){
  .main{
    flex-direction: column;
}
.container{
    width: 95%;
    height: 50%;
}    
.main-image{
    width: 90vw;    

}
.main > h1{
  color: #00ff88;
  font-size: 30px;
  margin-bottom: 20px;
  margin-top: 50px;
  display: flex;

}
}

@media only screen and (max-width: 600px){
    .main{
        flex-direction: column;
    }
    .container{
        width: 65%;
        height: 60%;
        margin-left: -50px;
    }    
    .main-image{
        width: 65vw;
        margin-left: -55px;
    }
    .main > h1{      
     
      color: #00ff88;
      font-size: 30px;
      margin-left: 45px;
      margin-bottom: 20px;
      margin-top: 50px;
      display: flex;
      width: 95%;
      
  
  }
}

.left-login{
  width: 50vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  align-items: flex-start;
  position: absolute;
  
}


.menu1{  
  width: 100%;
  height: 100%;
  display: flex;
 align-items: flex-start;
  margin-left: 10px;
  padding: 10px; 
  
}
#menuToggle
{
 
  position: relative;
  top: 50px;

  
  z-index: 1;
  
  -webkit-user-select: none;
  user-select: none;
}

#menuToggle a
{
  text-decoration: none;
  color: #00ff88;
  
  transition: color 0.3s ease;
}

#menuToggle a:hover
{
  color: tomato;
}


#menuToggle input
{
  display: block;
  width: 40px;
  height: 32px;
  position: absolute;
  top: -7px;
  left: -5px;
  
  cursor: pointer;
  
  opacity: 0; /* hide this */
  z-index: 2; /* and place it over the hamburger */
  
  -webkit-touch-callout: none;
}

/*
 * Just a quick hamburger
 */
#menuToggle span
{
  display: block;
  width: 33px;
  height: 4px;
  margin-bottom: 5px;
  position: relative;
  
  background: #7bfa8c;
  border-radius: 23px;
  
  z-index: 1;
  
  transform-origin: 4px 0px;
  
  transition: transform 0.5s cubic-bezier(0.77,0.2,0.05,1.0),
              background 0.5s cubic-bezier(0.77,0.2,0.05,1.0),
              opacity 0.55s ease;
}

#menuToggle span:first-child
{
  transform-origin: 0% 0%;
}

#menuToggle span:nth-last-child(2)
{
  transform-origin: 0% 100%;
}

/* 
 * Transform all the slices of hamburger
 * into a crossmark.
 */
#menuToggle input:checked ~ span
{
  opacity: 1;
  transform: rotate(45deg) translate(-2px, -1px);
  background: #77f091;
}

/*
 * But let's hide the middle one.
 */
#menuToggle input:checked ~ span:nth-last-child(3)
{
  opacity: 0;
  transform: rotate(0deg) scale(0.2, 0.2);
}

/*
 * Ohyeah and the last one should go the other direction
 */
#menuToggle input:checked ~ span:nth-last-child(2)
{
  transform: rotate(-45deg) translate(0, -1px);
}

#menu
{
  
  width: 200px;
  margin: -80px 0 0 10px;
  margin-top: 10px;
  padding: 50px;
  padding-top: 55px;
  border-radius: 23px;
  background: #2d263e;
  list-style-type: none;
  -webkit-font-smoothing: antialiased;
  /* to stop flickering of text in safari */
  
  transform-origin: 0% 0%;
  transform: translate(-150%, 0);
  
  transition: transform 0.5s cubic-bezier(0.77,0.2,0.05,1.0);
}

#menu li
{
  padding: 10px 0;
  font-size: 22px;
  font-family: Montserrat;
}

/*
 * And let's slide it in from the left
 */
#menuToggle input:checked ~ ul
{
  transform: none;
}